* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    height: 700px;
    width: 400px;
    background-color: grey;
}

h1 {
    text-align: center;
}

.sous-container {
    height:590px;
    width: 100%;
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
}

.modify {
    background-color: green;
}

.cancel {
    background-color: red;
}

.edit {
    background-color: green;
    width: 50px;
}